body{
    background-color: rgb(42, 38, 58);
    font-family: Poppins, sans-serif;
    color:#fff;
}
h1{
    height:80px;
    font-size: 500%;
    font-weight: 400;
    text-align: center;
}
h3{
    font-size: 100%;
    font-weight: 300;
    text-align: center;
}
.section{
    display: flex;
    color: black;
    display: flex;
    align-items:center;
    justify-content:center;
}
.contener{
    padding: 10px;
    display: flex;
    margin:20px;
}
.contener h1{
    font-style:italic;
    font-weight: 400;
    font-size:x-large;
    height:50px;
    margin-left:20px;
    text-align:start;
}
.contener-1{
    background-color:#fff;
    border-radius:20px;
    width:370px;
    height:550px;
    margin:10px;
    line-height:30px;
}
.contener-1 p{
    margin-left:25px;
}
img{
    padding:10px;
    border-radius: 20px;
    width: 350px;
    height: auto;
}
@media screen and (max-width: 900px) {
    
    h1{
        font-size:300%;
        width:100%;
    }
    h3{
        font-size:100%;
        width:100%;
    }
    .contener{
        display:grid;
    }
  }
  @media screen and (max-width: 1020px) {
    
    h1{
        font-size:300%;
        width:100%;
    }
    h3{
        font-size:100%;
        width:100%;
    }
    .contener{
        display:grid;
    }
  }
